:root {
  --grid-percent: 0;
}

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gridContainer {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 2px solid black;
}

.gridElement {
  flex: 0 0 var(--grid-percent);
  height: var(--grid-percent);
  transition: opacity 0.3s;
}

.gridElement.hovered {
  transition: background-color 0.3s;
}

#gridReset {
  padding: 0.5rem;
  margin: 0.25rem;
}

