:root {
  --grid-percent: 0;
  --grid-color: black;
}

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gridContainer {
  display: flex;
  flex-wrap: wrap;
  width: clamp(200px, 85vw, 500px);
  height: clamp(200px, 85vw, 500px);
  border: 2px solid black;
  touch-action: none;
}

.gridElement {
  flex: 0 0 var(--grid-percent);
  height: var(--grid-percent);
  background-color: var(--grid-color);
  opacity: 0;
  transition: opacity 0.3s;
}

#gridReset {
  padding: 0.5rem;
  margin: 0.25rem;
}

